*{
    margin: 0%;
    padding: 0%;
    /* font-family: 'Encode Sans', sans-serif; */
    overflow: hidden;
    letter-spacing: 1px;
    background-color: #141414;
}

.container{
     padding-top: 20px;
     color: #E5DFD9;
     width: 100%; 
}
.input_group{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragragh_line{ 
    text-align: center;
    font-weight: 500;
    font-size: 15px;  
    font-family: 'Encode Sans', sans-serif;
    letter-spacing: 3px; 
}

    .All_item{
        color: #E5DFD9;
        display: flex;
        justify-content: center;
    }
    .section{
    /* border: 1px solid red; */
    width: 1100px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
.section h5{
    font-size: 12px;
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
}
.section li{
    font-size: 12px;
    padding-top: 20px;
    font-family: 'Encode Sans', sans-serif;
}
.section p{
    font-size: 12px;
    width: 170px;
    line-height: 2;
}
.all_icon {
    font-size: 22px;
    color: #E5DFD9;
   
}
.all_icon span{
    padding: 15px;
    /* background-color:red; */
}
.add_section{
    font-family: 'Encode Sans', sans-serif;
    padding-top: 10px;
    padding-left: 15px;
}
.all_icon_mobile{
    display: none;
}
.logo h5{
    color: #E5DFD9;
    padding-top: 20px;
    display: flex;
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing:0.55em;
    justify-content: center;
}
 .copy{
     padding-top: 8px;
     color: #E5DFD9;
    font-size: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*  */

.buttonIn {
    padding-top: 25px;
    width: 384px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    font-size: 12px;
    line-height: 20px;
    padding-left: 15px;
    margin: 0px;
    outline: none;
    width: 384px;
    height: 38px;
    border:1px solid white;
    border-radius: 5px;
}
    button {
    position: absolute;
    left: 276px;
    z-index: 2;
    border: none;
    top: 29px;
    width: 102px;
    height: 31px;
    cursor: pointer;
    color: #0C0C0C;
    background: rgba(229, 223, 217, 0.5);
    border-radius: 5px;
    transform: translateX(2px);
    }
    .hr__line{
        padding-top: 35px;
        width: 72%;
        margin-left: 181px;
        border: 0px solid #E5DFD9;
    }
@media (max-width:600px) {
    input{ width: 345px;
        height: 38.63px;
    }
    button{
        width: 80px;
        height: 30px;
        left: 285px;
        top: 30px;
    }
    .logo h2 {
        padding-top: 0px;
    }
}

@media (max-width:780px) {
    .hr__line{
        width: 90%;
        margin-left: 22px;
    }

    .paragragh_line{
        font-size: 9px;
    }
    .section{
         padding-top: 0px;
         padding-bottom: 5px;
         display: grid;
    }
    
    .section h5{
        font-size: 13px;
    }
    .item1 li{
        font-size: 12px;
    }
    .item2 li{
        font-size: 12px;
    } 
    .item3 li{
        font-size: 12px;
    }

    .buttonIn {
        padding-top: 20px;
    }
    .hr__line{
        padding-top:15px ;
    }
    button{
        top: 25px;
        left: 286px;
    }
    .item1 h5{
        display: flex;
        justify-content: center;
    }
    .item1 ul{
        font-size: 9px;
         display: grid;
         grid-template-columns: repeat(3,94px);
         justify-content: center;
         text-align: center;
    }
    .item2 h5{
        padding-top: 18px;
        display: flex;
        justify-content: center;
    }
    .item2{
        width: 494px;
    }
    .item2 ul{
        display: grid;
        grid-template-columns: repeat(3,135px);
        text-align: center;
        justify-content: center;
    }
    .item2 .cookie{
        grid-column: 1/-1;
    }
    .item3 h5{
        padding-top: 18px;
        display: flex;
        justify-content: center;
    }
    .item3 ul{
        font-size: 9px;
        display: grid;
        grid-template-columns: repeat(2,71px);
        justify-content: center;
        text-align: center;
     }
     .add_section{
         /* padding-top: 15px; */
         display: flex;
         justify-content: center;
         text-align: center;
     }
     .add_section span{
         display: none;
     }
     .all_icon{
         display: flex;
         justify-content: center;
         position: relative;
     }
     .all_icon span{
        display: none;
     }
     .all_icon_mobile{
         display: inline;
         font-size: 27px;
          display: flex;
          justify-content: center;
     }
     .all_icon_mobile span{
         padding: 25px;
         padding-top:10px ;
         padding-bottom: 5px;
     }
     .logo{
        font-size: 20px;
        line-height: 28px;
         padding-bottom: 35px;
     }




}
@media (min-width:781px) and (max-width:1200px) {
 .hr__line{
    width: 82%;
    margin-left: 95px;
 }
}
/* check line */

/* -------------------------------- */
/*  */
 @media (max-width:398px) {
     .paragragh_line{
         font-size: 9px;
     }
     input{
         width: 300px;
     }
     button{
        top: 25px;
        left: 259px
     }
     .hr__line{
         width: 90%;
         margin-left: 20px;
     }
     .item1{
        width:360px;
    }
    .item2{
        width: 360px;
    }
    .item3{
        width: 360px;
    }
     .section h5{
         font-size: 10px;
     }
     .item1 li{
         font-size: 10px;
     }
     .item2 li{
         font-size: 10px;
     } 
     .item3 li{
         font-size: 10px;
     }
     .buttonIn {
        padding-top: 20px;
    }
    .hr__line{
        padding-top:15px ;
    }
    button{
        top: 24px;
        left: 253px;
    }
    .item1 h5{
        display: flex;
        justify-content: center;
    }
    .item1 ul{
        font-size: 9px;
         display: grid;
         grid-template-columns: repeat(3,94px);
         justify-content: center;
         text-align: center;
    }
    .item2 h5{
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }
    .item2 ul{
        display: grid;
        grid-template-columns: repeat(3,114px);
        text-align: center;
        justify-content: center;
    }
    .item2 .cookie{
        grid-column: 1/-1;
    }
    .item3 h5{
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }
    .item3 ul{
        display: grid;
        grid-template-columns: repeat(2,60px);
        justify-content: center;
        text-align: center;
     }
     .add_section p{
        font-size: 10px;
     }
     .add_section{
         padding-top:15px ;
     }
     .add_section span{
         display: none;
     }
     .all_icon{
         display: flex;
         justify-content: center;
         position: relative;
     }
     .all_icon span{
        display: none;
     }
     .all_icon_mobile{
         display: inline;
         font-size: 27px;
          display: flex;
          justify-content: center;
     }
     .all_icon_mobile span{
         padding: 25px;
     }
     .logo{
        font-size: 20px;
        line-height: 28px;
         padding-bottom: 35px;
     }
 }
